<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PowerPaint</string>
	<key>CFBundleGetInfoString</key>
	<string>Kreative PowerPaint 1.0 © 2009-2015 Kreative Software</string>
	<key>CFBundleIconFile</key>
	<string>PowerPaintApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kreative.paint</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PowerPaint</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>KPNT</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHighResolutionCapable</key>
	<false/>
	<key>JavaX</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/PowerPaint.jar:$JAVAROOT/ual.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>com.kreative.paint.ui.Main</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>apple.awt.graphics.UseQuartz</key>
			<string>false</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx1024M</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/..</string>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ckp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CKPf</string>
				<string>CKPp</string>
				<string>CKP </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocCKP</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ckps</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sKPf</string>
				<string>sKPp</string>
				<string>sKP </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintStationeryCKP</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PiNG</string>
				<string>PNGf</string>
				<string>PNGg</string>
				<string>PNG </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocPNG</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GIF Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
				<string>GIF </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocGIF</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
				<string>jpe</string>
				<string>jfif</string>
				<string>jif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
				<string>JPGf</string>
				<string>JPGg</string>
				<string>JPG </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocJPEG</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BMP Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMPf</string>
				<string>BMPp</string>
				<string>BMP </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocBMP</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dib</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DIB Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DIBf</string>
				<string>DIBb</string>
				<string>DIB </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocDIB</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wbmp</string>
				<string>wbm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WBMP Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WBMP</string>
				<string>WBMf</string>
				<string>WBMm</string>
				<string>WBM </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocWBMP</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pic</string>
				<string>pict</string>
				<string>pct</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PICT Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocPICT</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>picts</string>
				<string>pcts</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PICT Stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sICT</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintStationeryPICT</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mac</string>
				<string>pnt</string>
				<string>mpnt</string>
				<string>mpt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MacPaint Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocMPNT</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>macs</string>
				<string>pnts</string>
				<string>mpnts</string>
				<string>mpts</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MacPaint Stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sNTG</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintStationeryMPNT</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spnt</string>
				<string>spt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SuperPaint Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SPTG</string>
				<string>SPn3</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocSPNT</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spnts</string>
				<string>spts</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SuperPaint Stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sPTG</string>
				<string>sPn3</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintStationerySPNT</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PBM Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PBMf</string>
				<string>PBMm</string>
				<string>PBM </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocPBM</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pgm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PGM Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PGMf</string>
				<string>PGMm</string>
				<string>PGM </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocPGM</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PPM Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPMf</string>
				<string>PPMm</string>
				<string>PPM </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocPPM</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pnm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNM Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNMf</string>
				<string>PNMm</string>
				<string>PNM </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocPNM</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pam</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PAM Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PAMf</string>
				<string>PAMm</string>
				<string>PAM </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocPAM</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rbit</string>
				<string>raa</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RaaBits Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RBIT</string>
				<string>rbit</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocRBIT</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>woba</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WOBA Image File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WOBA</string>
				<string>woba</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocWOBA</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sic</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sabine Icon File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SICf</string>
				<string>SICc</string>
				<string>SIC </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintDocSIC</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Alphabet Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialALPX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ditx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Dither Algorithm Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialDITX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>frnd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Frame Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialFRND</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>frnx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Frame Info</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialFRNX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>grdx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Gradient Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialGRDX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lnsx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Line Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialLNSX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>patx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Pattern Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialPATX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rcpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Color Palette</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialRCPX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rfpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Font Collection</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialRFPX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Shape Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialSHPX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spnd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Sprite Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialSPND</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spnx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Sprite Info</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialSPNX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txrd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Texture Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialTXRD</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txrx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Texture Info</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialTXRX</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ttf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint TrueType Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialTTF</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Java Archive Plugin</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialJAR</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pmz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPaint Paint Materials</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>PowerPaintMaterialPMZ</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
</dict>
</plist>
